
@model CountriesListViewModel

<h1>@Model.CurrentCategory</h1>
<div class="row text-left">



    @foreach (var country in Model.Countries)
    {

        <partial name="_CountryCard" model="country" />

    }

</div>