@model AppViewModel

<partial name="_Carousel" />
<br />
<h2>Countries of the week</h2>
<br />
<h5>click on the country-name to see more details!      Take a look in the List to discover all the countries.</h5>
<br />

<div class="row">

    @foreach (var country in Model.CountriesOfTheWeek)
    {
        <partial name="_CountryCard" model="country" />
    }

</div>









@*@{


    <div id="theForm">
        <form>
            <label>Username: </label>
            <br />
            <input />
            <br />

            <label>Email: </label>
            <br />
            <input type="email" />
            <br />

            <label>Subject: </label>
            <br />
            <input type="text" />
            <br />

            <label>Message: </label>
            <br />
            <textarea rows="4"></textarea>
            <br />

            <input type="submit" value="Send message" />

        </form>
    </div>

    <div>
        <div id="loginToggle">Login (click to hide/show)</div>
        <form class="popup-form">

            <div>
                <label>Username</label>
                <input />
            </div>
            <br />
            <div>
                <label>Password</label>
                <input type="password" />
            </div>
            <br />
            <div>
                <input type="checkbox" />
                <label>Remember me?</label>
            </div>
            <br />
            <div>
                <input type="submit" value="Login" />
            </div>


        </form>
    </div>*@