<!DOCTYPE html>
<html>
<head>
    <title>collect the world: @ViewBag.Title</title>
</head>
<body>
    <header>
        <h1>Welcome to the World Collection</h1>
        <menu>
            <ul>
                <li><a href="/">            Home    </a></li>
                <li><a href="/app/contact"> Contact </a></li>
                <li><a href="/app/about">   About   </a></li>
            </ul>
        </menu>
    </header>

    <section>
        <h2>@ViewBag.Title</h2>
        @RenderBody()
    </section>


    <footer>Copyright 2020 Declerck Peter BlackBox LTT</footer>



    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/bundles/index.js" type="text/javascript" language="javascript"></script>
    <link   href="~/bundles/site.css" rel="stylesheet" />


</body>
</html>
